.input { 
    background-color: transparent;
    border: 1px solid lightgray;
    height: 1.4rem;
    outline: none;
    border-radius: 0.2rem;
    color: #ffffff;
    cursor: pointer;
}

.input > option {
    text-align: right;
    color: rgb(70, 69, 69);
    background-color: whitesmoke;
}